* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Numans", sans-serif;
}

body {
  background-image: url(images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #cccccc;
  display: flex;
  flex-direction: column;
  height: 100%;
}

a {
  text-decoration: none;
}

.first-page {
  padding-bottom: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #555555;
  height: 80px;
}
.nav-bar .name {
  color: white;
  font-size: 19px;
  margin: 10px;
  padding-left: 20px;
}
.nav-bar ul {
  display: flex;
  list-style: none;
}
.nav-bar a {
  color: white;
  padding: 31px;
}
.nav-bar a:hover {
  background-color: #A6A7A9;
}

.profile {
  padding: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile .picture .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(54, 55, 57, 0.51);
  width: 280px;
  height: 280px;
  border-radius: 50%;
}
.profile .picture .me {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
.profile .profile-content {
  padding-left: 35px;
}
.profile .profile-content h1 {
  font-size: 70px;
  padding-bottom: 10px;
}
.profile .profile-content p {
  width: 563px;
  line-height: 25px;
}
.profile .profile-content .social-media-logo {
  padding-top: 10px;
}

.second-page {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 100px;
}
.second-page .skills {
  width: 450px;
  height: 600px;
  background-color: rgba(48, 49, 51, 0.93);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  color: white;
}
.second-page .skills .design {
  padding-left: 50px;
  padding-top: 10px;
  font-size: 20px;
  line-height: 25px;
}
.second-page .skills h1 {
  color: white;
  font-size: 70px;
  text-align: center;
  padding: 30px;
}
.second-page .skills ul {
  padding-left: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  list-style: none;
}

.blogs {
  width: 450px;
  height: 600px;
  border-radius: 15px;
}
.blogs h6 {
  color: white;
  font-size: 70px;
  text-align: center;
  padding: 30px;
}
.blogs .panel {
  width: 450px;
  height: 105px;
  background: rgba(48, 50, 51, 0.71);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.blogs .panel:hover {
  background-color: #333333;
}
.blogs h3 {
  font-size: 20px;
  color: white;
  padding-bottom: 10px;
}
.blogs p {
  color: white;
  font-size: 12px;
}

.third-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.third-page .project-container {
  margin-bottom: 50px;
}
.third-page h1 {
  text-align: center;
  font-size: 100px;
  padding: 50px;
  color: white;
}
.third-page h3 {
  color: white;
  padding-bottom: 10px;
}
.third-page p {
  color: white;
}
.third-page .project-panel {
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
}
.third-page .row-1 {
  display: flex;
}
.third-page .row-1 #row1-col1 {
  width: 700px;
  height: 300px;
  background: rgba(48, 50, 51, 0.71);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}
.third-page .row-1 #row1-col2 {
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  background: rgba(48, 50, 51, 0.71);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}
.third-page .row-2 {
  display: flex;
}
.third-page .row-2 #row2-col1 {
  width: 500px;
  height: 300px;
  background: rgba(48, 50, 51, 0.71);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}
.third-page .row-2 #row2-col2 {
  width: 500px;
  height: 300px;
  background: rgba(48, 50, 51, 0.71);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.footer {
  height: 490px;
  display: flexbox;
  justify-content: center;
  align-items: center;
}
.footer .divider {
  width: 1200px;
  height: 0px;
  border: 1px solid #FFFFFF;
  align-content: center;
}
.footer .footer-content {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  line-height: 30px;
}
.footer .footer-right {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer a {
  color: white;
  text-decoration: underline;
}

/*# sourceMappingURL=styles.css.map */
